@media only screen and (max-width:426px) {
    body {
        margin: 0px;
    }
    .container {
        margin: 0 auto;
    }
    .container-header {
        display: flex;
        flex-direction: column;
    }
    .lien-signup {
        position: absolute;
        top: 15px;
        right: 5px;
    }
    .link {
        position: relative;
        right: 50px;
    }
    .lien-hebergements::before {
        position: relative;
        content: "";
        display: inline-block;
        height: 2px;
        width: 100%;
        background: #0065fc;
        position: absolute;
        top: 30px;
    }
    .search-bar {
        width: 285px;
    }
    .button-search {
        width: 30px;
        border-radius: 10px;
    }
    .search {
        display: none;
    }
    i.fa-search {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-head {
        display: flex;
        flex-direction: column;
    }
    .filtres-nav {
        width: 120px;
    }
    .bar-nav {
        display: flex;
        flex-wrap: wrap;
    }
    .bar-nav li {
        margin-top: 10px;
    }
    .last-header {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    #hebergements-marseille {
        display: flex;
        flex-direction: column-reverse;
    }
    .hosting-marseille {
        margin-left: 15px;
    }
    .most-popular {
        width: 445px;
        border-radius: 0;
        margin: 0;
    }
    .hosting-main {
        background: none;
        padding: 0;
        margin-left: 40px;
    }
    .hotel-item {
        width: 390px;
        margin-left: 15px;
    }
    .hebergement-image {
        width: 390px;
    }
    .activites-list {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .activites-item {
        margin-left: 5px;
    }
    .activites-image {
        width: 390px;
        height: 133px;
    }
    .activites-item {
        width: 390px;
    }
    .last-part {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .night-popular {
        margin-top: 0;
    }
    .last-part {
        padding-right: 65px;
    }
    .about {
        margin-left: 20px;
    }
}

@media screen and (min-width:376px) and (max-width:426px) {
    .search-bar {
        width: 390px;
    }
    .activites-list {
        margin-left: 60px;
    }
    .hotel-item {
        width: 370px;
        margin-left: 0;
        margin-right: 0;
    }
    .hebergement-image {
        width: 370px;
    }
    .activites-image {
        width: 370px;
        height: 133px;
    }
    .activites-item {
        width: 370px;
    }
}

@media screen and (min-width:320px) and (max-width:339px) {
    .lien-signup {
        position: absolute;
        top: 18px
    }
    .most-popular {
        width: 319px;
        border-radius: 0;
        margin: 0;
    }
    .hotel-item {
        width: 300px;
        margin-left: 0;
        margin-right: 0;
    }
    .hebergement-image {
        width: 300px;
    }
    .hosting-main {
        margin-left: 36px;
    }
    .hosting-marseille {
        margin-left: 0;
    }
    .activites-image {
        width: 280px;
        height: 133px;
    }
    .activites-item {
        width: 280px;
    }
    .activites-list {
        margin-left: 46px;
    }
    .last-part {
        padding-right: 43px;
    }
}

@media screen and (min-width:340px) and (max-width:376px) {
    .lien-signup {
        position: absolute;
        top: 18px;
    }
    .activites-list {
        margin-left: 66px;
    }
    .hosting-marseille {
        margin-left: 10px;
    }
    .activites-image {
        width: 370px;
        height: 133px;
    }
    .activites-item {
        width: 370px;
    }
    .hotel-item {
        width: 370px;
        margin-left: 15px;
    }
    .hebergement-image {
        width: 370px;
    }
    .last-part {
        padding-right: 115px;
    }
}

//*RESPONSIVE TABLETTE*//
@media screen and (min-width:427px) and (max-width:769px) {
    #hebergements-marseille {
        display: flex;
        flex-wrap: wrap;
    }
}